ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    margin: 20px auto;
    color: #fff;
}

.accordion-menu {
    width: 100%;
    max-width: 350px;
    background: #727272;
    border-radius: 4px;
}

.accordion-menu li.open .dropdownlink {
    color: #CDDC39;

    .fa-chevron-down {
        transform: rotate(180deg);
    }
}

.accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
}

.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    position: relative;
    transition: all 0.4s ease-out;

    i {
        position: absolute;
        top: 17px;
        left: 16px;
    }

    .fa-chevron-down {
        right: 12px;
        left: auto;
    }
}

.submenuItems {
    display: none;
    background: #C8E6C9;

    li {
        border-bottom: 1px solid #B6B6B6;
    }
}

.submenuItems a {
    display: block;
    color: #727272;
    padding: 12px 12px 12px 45px;
    transition: all 0.4s ease-out;

    &:hover {
        background-color: #CDDC39;
        color: #fff;
    }
}